[submodule "yrmix-subsidy"]
	path = yrmix-subsidy
	url = https://github.com/yrmixpay/yrmix_subsidy.git
[submodule "x11-gost-hash"]
	path = x11-gost-hash
	url = https://github.com/yrmixpay/x11_gost_hash.git
